/* Syntax highlighting for JSON objects */
ul.json-dict,
ol.json-array {
  list-style-type: none;
  margin: 0 0 0 1px;
  border-left: 1px dotted #505050;
  padding-left: 1em;
}
.json-literal {
  color: #f4faf972;
}
.json-key {
  /* font-weight: bold; */
  color: #108ee9;
}

/* Copy path icon */
.json-pick_path {
  /* color: #f4faf9; */
  /* cursor: pointer;
  margin-right: 12px;
  margin-left: 5px;
  font-style: normal; */
}

.json-pick_path_ancestor {
  background-color: rgba(255, 255, 255, 0.1) !important;
}

.json-pick_path:hover.json-value,
.json-picked {
  background-color: rgba(255, 255, 255, 0.8) !important;
  color: rgba(0, 0, 0, 1) !important;
}

.json-pick_path:hover.json-key {
  background-color: rgba(255, 255, 255, 0.2) !important;
}

.json-picked_tree {
  font-size: 1em;
  font-family: monospace;
}

.json-pick_arr {
  position: relative;
  color: #f4faf9;
  cursor: pointer;
  font-style: normal;
  margin-left: -16px;
}

.json-pick_arr:hover,
.json-picked_arr {
  background-color: rgba(255, 255, 255, 0.8) !important;
  color: rgba(0, 0, 0, 1) !important;
}

.listItem {
  background-color: rgba(255, 255, 255, 0.01);
  cursor: pointer;
}
