/* Syntax highlighting for JSON objects */
ul.json-dict,
ol.json-array {
  list-style-type: none;
  margin: 0 0 0 1px;
  border-left: 1px dotted #505050;
  padding-left: 1em;
}
.json-literal {
  color: #f4faf972;
}
.json-key {
  /* font-weight: bold; */
  color: #108ee9;
}

/* Copy path icon */
.json-pick_path {
  color: #f4faf9;
  cursor: pointer;
  margin-right: 12px;
  margin-left: 5px;
  font-style: normal;
}

.json-pick_path_ancestor {
  color: #7f3dc5;
}

.json-pick_path:hover,
.json-picked {
  color: #f04134;
}

.json-picked_tree {
  /* background: #eee; */
  font-size: 1em;
  font-family: monospace;
}

.json-pick_arr {
  position: relative;
  right: 2px;
  color: #f4faf9;
  cursor: pointer;
  font-style: normal;
  font-weight: bold;
  margin-left: -20px;
}

.json-pick_arr:hover,
.json-picked_arr {
  color: #f04134;
}
