@import '~normalize.css';
@import '~@blueprintjs/table/lib/css/table.css';

@import '~@fontsource/roboto/300.css';
@import '~@fontsource/roboto/400.css';
@import '~@fontsource/roboto/500.css';
@import '~@fontsource/roboto/700.css';
@import '~@fontsource/roboto-mono';

body {
  overflow: hidden;
  margin: 0 auto;
  background-color: black;
  overscroll-behavior-x: none;
}

.MuiBox-root,
.MuiStack-root,
.MuiDivider-root {
  font-family: 'Roboto', 'Helvetica', 'Arial', 'sans-serif';
}
