.inspectorContainer {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 30vw;
  min-width: 400px;
  /* height: 600px; */
  height: 100vh;
  padding: 54px 8px 8px 8px;
  background-color: #293742;
  overflow: auto;
}

.editor {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 30%;
  height: 600px;
  /* height: 100vh; */
}

.pixicontainer {
  position: absolute;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
}

.hide {
  display: none;
}

.nodeTitle {
  text-align: center;
  padding: 16px;
}

.inputContainer {
  margin: 8px 0 8px 0;
  padding: 8px;
  background-color: rgba(255, 255, 255, 0.05);
}

.inputContainer > *:not(:last-child) {
  margin-bottom: 16px;
}

.outputContainer {
  margin: 8px 0 8px 0;
  padding: 8px;
  background-color: rgba(255, 255, 255, 0.05);
}

.slider {
  width: unset !important;
  margin: 0 16px;
}

.typeSelector {
  opacity: 0.3;
}

.serializedNode {
  font-size: 12px;
  color: rgba(255, 255, 255, 0.5);
  white-space: pre-wrap;
}

.colorPickerSwatch {
  width: 100%;
  height: 2em;
  line-height: 2em;
  cursor: pointer;
  text-align: center;
  font-size: 1em;
}

.propertyTag {
  cursor: pointer;
  width: 48px;
  text-align: center;
  border-radius: 3px !important;
  margin-right: 8px !important;
}

.brightOnDark {
  background: rgba(138, 155, 168, 0.2);
  color: #bfccd6;
}

.darkOnBright {
  background: #bfccd6;
  color: #182026;
}

.editablePropertyName {
  line-height: 2em;
  padding: 0 16px;
  min-width: 220px;
}

.minMaxInput input {
  width: 64px !important;
}

.outputTextArea {
  max-height: 400px;
}
