body {
  overflow: hidden;
  margin: 0 auto;
  background-color: black;
}

.rootClass {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 30%;
  height: 600px;
}

.CodeMirror {
  /* Set height, width, borders, and global font properties here */
  background-color: rgba(38, 50, 56, 0.85) !important;
}

.CodeMirror-gutters {
  background: rgba(38, 50, 56, 0.25) !important;
}
